body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: navajowhite;
}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    border-radius: 15px;
    max-width: 400px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(41, 39, 39);
    color: white;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 15px;
}
button{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: none;
    background-color: rgb(41, 39, 39);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: rgb(102, 100, 100);
}
button:active{
    background-color: rgb(17, 16, 19);
}
.operator-btn{
    background-color: orange;
}
.operator-btn:hover{
    background-color: rgb(177, 133, 53);
}
.operator-btn:active{
    background-color: rgb(73, 48, 2);
}